* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#elevatorcontainer{
    display: flex;
    height: 100vh;
    position: relative;
}

#elevatorbody {
    position: fixed;
    height: 100%;
    width: 100%;
    /* opacity: 50%; */
    z-index: 4;
    pointer-events: none;
}
#eledoorl {
    position: absolute;
    z-index: 2;
    top: 12%;
    bottom: 0;
    left: 25%;
    right: 0%;
    width: 600px;
    height: 88%;
    /* transform-origin: right center;
    transform: translateX(0); */
}
#eledoorr{
    position: absolute;
    z-index: 2;
    top: 12%;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 600px;
    height: 88%;
    /* transform-origin: left center;
    transform: translateX(0); */
}
#doors-button{
    background-color: red;
    z-index: 6666;
    display: absolute;
    height: 500px;
    width: 500px;
    top: 82%;
    right: 9%;
}
#enter-button{
    width: 100px;
    height: 100px;
    color: black;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 82%;
    right: 9.6%;
    border-radius: 15px;
    transition-duration: 0.4s;
    z-index: 5;
}
#enter-button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

#artwork-container{
    display: flex; /* Use flexbox to center its contents vertically and horizontally */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
    flex-direction: column;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    
}
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    z-index: 2;
    pointer-events: none;
  }
  #artwork-image:hover + .overlay {
    opacity: 50%;
  } */
#artwork-description{
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#artwork-image{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    z-index: 1;
    border-radius: 15px;
    
}
#artwork-title{
    color: white;
    font-size: 15px;
    font-family: 'Sometype Mono', monospace;
    text-transform: uppercase;
}
#artwork-artist{
    color: white;
    font-family: 'Sometype Mono', monospace;
    text-transform: uppercase;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

#eledoorl {
    transform-origin: right center;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: openDoors2;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#eledoorr {
    transform-origin: left center;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: openDoors;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes openDoors {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(92%);
    }
}
@keyframes openDoors2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-94%);
    }
}