* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    cursor: url("/img/cursor1.png"), default;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

}
/*                                              General body stuff                                 */
#elevatorcontainer{
    display: flex;
    height: 100vh;
    position: relative;
}

#elevatorbody {
    position: fixed;
    height: 100%;
    width: 100%;
    /* opacity: 50%; */
    z-index: 4;
    pointer-events: none;
}
#eledoorl {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 12%;
    bottom: 0;
    left: 26%;
    right: 0%;
    width: 25%;
    height: 88%;
    /* transform-origin: right center;
    transform: translateX(0); */
}
#eledoorr{
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 12%;
    bottom: 0;
    left: 51%;
    right: 0;
    width: 25%;
    height: 88%;
    /* transform-origin: left center;
    transform: translateX(0); */
}
/*                                         Buttons                                                   */
#enter-button{
    width: 5vw;
    height: 10vh;
    color: black;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 82%;
    right: 9.6%;
    border-radius: 15px;
    transition-duration: 0.4s;
    z-index: 7;
    box-shadow:inset 0px 0px 14px 11px #f7f7f7;
	background:linear-gradient(to bottom, #c7c7c7 5%, #333333 100%);
	background-color:#c7c7c7;
    cursor:url('img/cursor2.png'), pointer;
    color:#ffffff;
    font-family: 'Sometype Mono', monospace;
    padding: 20px;
    text-decoration:none;
	text-shadow:0px 0px 4px #ff0000;
    text-align: center;
}
#enter-button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

#newfloorbutton{
    width: 5vw;
    height: 10vh;
    color: black;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 82%;
    right: 9.6%;
    border-radius: 15px;
    transition-duration: 0.4s;
    z-index: 6;
    box-shadow:inset 0px 0px 14px 11px #f7f7f7;
	background:linear-gradient(to bottom, #c7c7c7 5%, #333333 100%);
	background-color:#c7c7c7;
    cursor:url('img/cursor2.png'), pointer;
    color:#ffffff;
    font-family: 'Sometype Mono', monospace;
    padding: 20px;
    text-decoration:none;
	text-shadow:0px 0px 4px #ff0000;
    text-align: center;

}
/* #newfloorbutton:hover{
    background:linear-gradient(to bottom, #333333 5%, #c7c7c7 100%);
	background-color:#333333;
} */
#newfloorbutton:active {
    background:linear-gradient(to bottom, #333333 5%, #c7c7c7 100%);
	background-color:#333333;
}





/*                                        Artwork container stuff                               */
#artwork-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* top: 30%; */
    background-image: url('backgrounds/bg1.jpg');
    background-size: 100% 100%;
}

#artwork-description{
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 6px 20px #000000, 0px -4px 0px #000000, 0px -4px 0px #000000;
}
#artwork-image{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    z-index: 1;
    border-radius: 15px;
    opacity: 89%;
}
#artwork-title{
    color: white;
    font-size: 15px;
    font-family: 'Sometype Mono', monospace;
    text-transform: uppercase;
    text-shadow: 0px 6px 20px #000000, 0px -4px 0px #000000, 0px -4px 0px #000000;
}
#artwork-artist{
    color: white;
    font-family: 'Sometype Mono', monospace;
    text-transform: uppercase;
    text-shadow: 0px 6px 20px #000000, 0px -4px 0px #000000, 0px -4px 0px #000000;
}
/*                                        Floating artwork anim                              */
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}
/*                                        Open door animation                                */
#eledoorl {
    transform-origin: right center;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: openDoors2;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#eledoorr {
    transform-origin: left center;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: openDoors;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes openDoors {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(92%);
    }
}
@keyframes openDoors2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes reverseDoors1 {
    0% {
        transform: translateX(-100%); /* Start from the fully open position */
    }
    100% {
        transform: translateX(0); /* Go back to the fully closed position */
    }
}
@keyframes reverseDoors2 {
    0% {
        transform: translateX(92%); /* Start from the fully open position */
    }
    100% {
        transform: translateX(0); /* Go back to the fully closed position */
    }
}
.reverse-animation {
    animation-direction: reverse;
}

#scare{
    right: 19%;
    top: 27%;
    position: fixed;
    z-index: 50;
    background-color: red;
    height: 5%;
    width: 3%;
    opacity: 1%;
}
#jumpscare{
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: none;
}